@import url(style.css);
@import url(service.css);
@import url(home.css);

section {
    padding: 3em 6em 8em 6em;
    background: var(--white);
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.profile-img {
    display: inline;
    width: 25em;
    float: left;
    margin-right: 25px;
    margin-bottom: 10px;
}

h4 {
    padding-bottom: 10px;
    font-family: var(--gen-font);
    font-size: var(--title-2);
}

p {
    padding-bottom: 25px;
    font-family: var(--gen-font);
    font-size: var(--title-3);
    line-height: 30px;
    /* width: 57em; */
}

span {
    font-weight: bold;
}

.mission {
    margin-top: 2em;
}

ol li {
    margin: 0 0 20px 20px;
    font-family: var(--gen-font);
    font-size: var(--title-3);
}

ul {
    margin: 0 0 0 20px;
}

ul li {
    margin-bottom: 20px;
    font-family: var(--gen-font);
    font-size: var(--title-3);
}

.work {
    padding: 0;
    margin: 3em 0 0 0;
}

