@import url(style.css);

.sec-nav {
    position: unset !important;
    background: url("../imgs/BKM - bg.png");
    background-position: top;
    background-size: cover;
    margin: 0;
    padding: 25px 60px;
}

section {
    padding: 5em;
}

section h2 {
    font-family: var(--title-h-font);
    font-size: var(--title-5);
    text-align: center;
    margin-bottom: 30px;
    font-weight: 400;
    letter-spacing: 2px;
}

.service-info h3 {
    font-family: var(--gen-font);
    font-size: var(--title-4);
    line-height: 30px;
    margin-bottom: 20px;
}

.service-info p, .service-info ul {
    font-family: var(--gen-font);
    font-size: var(--link);
    line-height: 30px;
    margin-bottom: 15px;
}

.helps-u {
    margin-bottom: 2px !important;
}

.service-img img {
 width: 100%;
 border-radius: 10px;
}

.service-info {
    width: 60%;
}

.service-img {
    width: 40%;
    padding: 0 20px;
}

.service-card {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.faqs {
    margin-top: 6em;
}

.faq-item h3 {
    margin-top: 2em;
    font-family: var(--gen-font);
    font-size: var(--link);
    margin-bottom: 8px;
}

.faq-item p {
    font-family: var(--gen-font);
    font-size: var(--link);
    line-height: 30px;
}

.nxt-bk {
    font-family: var(--gen-font);
    font-size: var(--title-3);
}

.nxt-bk-2 {
    margin-top: 10px;
    font-family: var(--gen-font);
    font-size: var(--link);
    line-height: 2em;
}